                                            /* General css */
* {
  box-sizing: border-box;
}
  
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 2px solid red;
}

                                            /* Responsive css */

                   /* (max-width: 640px) */
@media (max-width: 640px) {
  body {
    background-color: black;
    color: white;
  }
}


                  /* (min-width: 641px) and (max-width: 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  body {
    background-color: blue;
    color: white;
  }
}


                  /* (min-width: 1025px) and (max-width: 1536px) */
@media (min-width: 1025px) and (max-width: 1536px) {
  body {
    background-color: purple;
    color: white;
    width: 100%;
    height: 100vh;
    /* background-color: #f2f5f8; */
    /* background: linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center, linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center, var(--dot-color); */
    /* background-size: var(--dot-space) var(--dot-space); */
    /* cursor: none; */
  }

  body .custom-pointer {
    position: fixed;
    left: calc(var(--cursor-size) / -2);
    width: var(--cursor-size);
    height: var(--cursor-size);
    transition: 500ms, transform 100ms;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  body .custom-pointer .inner {
    fill: #f2f5f8;
  }
  body .custom-pointer .outer {
    fill: #111920;
  }
  body .text-section {
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

                  /* (min-width: 1537px) and (max-width: 2560px) */
@media (min-width: 1537px) and (max-width: 2560px) {
  body {
    background-color: yellow;
    color: white;
  }
}


                  /* (min-width: 2561px) */
@media (min-width: 2561px) {
  body {
    background-color: green;
    color: white;
  }
}

