                                            /* General css */
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.contain {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 18vh;
}

.footer1flower {
  width: 90%;
}
.ProductC {
  font-family: 'Montserrat', sans-serif;
  height: 8rem;
}

@media (prefers-reduced-motion: no-preference) {
  .bona::before {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link {
  padding: 0 !important;
  color: #807e7e !important;
  font-weight: 500;
}
.link .nav-link.active {
  color: #3dbee3;
}

:root {
  --blue-color: #3dbee3;
}






                                     /* Responsive css */

                   /* (max-width: 640px) */
@media (max-width: 640px) {

}


                  /* (min-width: 641px) and (max-width: 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  
}


                  /* (min-width: 1025px) and (max-width: 1536px) */
@media (min-width: 1025px) and (max-width: 1536px) {
          /* Header */
  .logo img {
    width: 10rem;
    height: 6rem;
  }
  .ProductAndOrder{
    width: 23rem;
    height: 50%;
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    margin-top: 1.5rem;
  }
  .line {
    height: 3rem;
    border-right: 1px solid var(--blue-color);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .busket, .order {
    display: flex;
    align-items: center;
    color: var(--blue-color);
  }
  .busket img, .order img {
    width: 20rem;
    height: 100%;
  }
  .busket p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 2.8rem;
    margin-top: 0.2rem;
  }
  .order p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1.8rem;
    margin-top: 0.2rem;
  }

      /* Content */

  .water {
    width: 80%;
  }
  .water img {
    height: 20vh;
  }

  .productInfo {
    width: 85%;
    margin-top: 1rem;
  }
  .tableImg {
    width: 60%;
  }
  .buttonImg {
    width: 80%;
  }
  .link {
    width: 85%;
  }
  .nav-link {
    color: #c4c4c4 !important;
  }



  /* Content */

  .sc {
    margin: 1rem 0;
  }
  .choosing {
    margin-right: 3rem;
  }

  .bona {
    width: 70%;
    height: 56vh;
    border: 1px solid #c4c4c4;
  }
  .bona img {
    height: 95%;
    z-index: 1;
  }

  .bona::before {
    content: url('../images/svg/home/tsetseg tom.svg');
    position: absolute;
    left: 10rem;
    bottom: 10rem;
  }
  
  .choose {
    width: 20%;
  }
  .white {
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    right: 12rem;
    bottom: 2rem;
  }
  .circle {
    width: 7rem;
    height: 7rem;
    background-color: #3dbee3;
    border-radius: 50%;
  }

}

                  /* (min-width: 1537px) and (max-width: 2560px) */
@media (min-width: 1537px) and (max-width: 2560px) {
        /* Header */
  .logo img {
    /* width: 18rem; */
    height: 8rem;
  }
  .ProductAndOrder{
    width: 35rem;
    height: 50%;
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    margin-top: 3rem;
  }
  .line {
    height: 4rem;
    border: 1px solid var(--blue-color);
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .busket, .order {
    display: flex;
    align-items: center;
    color: var(--blue-color);
  }
  .busket img, .order img {
    width: 15rem;
    height: 100%;
  }
  .busket p, .order p {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 4rem;
  }

  .water img {
    height: 25vh;
  }
  
        /* Content  */
  .sc {
    margin: 1rem 0;
  }
  .choosing {
    margin-right: 3rem;
  }
  .info {
    height: 50vh !important;
    border: 2px solid blue;
  }
  .bona {
    width: 70rem;
    height: 60vh;
    border: 1px solid black;
  }
  .bona img {
    height: 95%;
    z-index: 1;
  }
  .footer1 {
    margin-top: 3rem;
  }
  .bona::before {
    content: url('../images/svg/home/tsetseg tom.svg');
    position: absolute;
    left: 15rem;
    bottom: 18rem;
  }
  
  .choose {
    width: 20%;
  }
  .white {
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    right: 12rem;
    bottom: 2rem;
  }
  .circle {
    width: 7rem;
    height: 7rem;
    background-color: #3dbee3;
    border-radius: 50%;
  }
  

  /* Zahialgiin medeelel */
  .slideContent {
    height: 70vh;
    /* margin-right: 3rem; */
  }
  .slider {
    height: 50vh;
    border: 2px solid black;
  }
  .carousel-indicators button {
    background-color: #3dbee3 !important;
    margin-top: 80rem !important;
    border-radius: 50%;
    width: 2rem !important;
  }

}


                  /* (min-width: 2561px) */
@media (min-width: 2561px) {
            /* Header */
  .logo img {
    /* width: 18rem; */
    height: 8rem;
  }
  .ProductAndOrder{
     width: 35rem;
     height: 50%;
     border: 1px solid var(--blue-color);
     border-radius: 10px;
     margin-top: 3rem;
  }
  .line {
     height: 4rem;
      border: 1px solid var(--blue-color);
      margin-right: 2rem;
      margin-left: 1rem;
  }
  .busket, .order {
      display: flex;
      align-items: center;
      color: var(--blue-color);
  }
  .busket img, .order img {
      width: 15rem;
      height: 100%;
  }
  .busket p, .order p {
      font-size: 2rem;
      font-weight: 600;
      margin-left: 4rem;
      /* margin-top: 0.2rem; */
  }
                /* Content  */
  .sc {
      margin: 1rem 0;
  }
  .choosing {
      margin-right: 3rem;
  }
        
  .bona {
      width: 70%;
      height: 56vh;
      border: 1px solid #c4c4c4;
  }
  .bona img {
      height: 95%;
      z-index: 1;
  }
        
  .bona::before {
      content: url('../images/svg/home/tsetseg tom.svg');
      position: absolute;
      left: 15rem;
      bottom: 18rem;
  }
  .choose {
       width: 20%;
  }
        
  .toirog img{
      width: 50%;
      height: 50%;
      position: absolute;
      top: 18rem;
      left: -5rem;
      z-index: 1;
  }
}

