                                                /* General css */
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.contain {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 16vh;
}
.footer {
  /* position: absolute; */
  bottom: 0;
}

.back a.backButton {
  color: white;
}
a {
  text-decoration: none !important;
}

.routes {
  height: auto;
  /* aspect-ratio: 16/8; */
}

@media (prefers-reduced-motion: no-preference) {
  .bona::before {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  padding: 0 !important;
  color: #807e7e !important;
  font-weight: 500;
}
.link .nav-link {
  position: relative;
  margin-left: 2rem;
}
.link {
  width: 90%;
}
.active {
  color: var(--blue-color) !important;
  font-weight: 500;
  margin-left: 1.5rem;
  position: relative;
}
.is-active::before {
  content: url('../images/svg/order 1/tsetseg jijig.svg');
  position: absolute;
  left: -1.5rem;
  top: 0.2rem;
}
:root {
  --blue-color: #3dbee3;
}

.line {
    height: 80%;
    border: 1px solid var(--blue-color);
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #mlform {
      width: 100%;
  }
 #mlform > * {
     min-width: 25%;
     height: auto;
 }
 #userform {
     width: 100%;
 }
 .tablenames {
     width: 100% !important;
 }

 .order1tablenames > * {
    width: 50%;
    height: 1rem;
}
.order2tablenames > * {
    width: 25%;
}
 .tablenames > * {
     width: 28%;
 }
 .sagslahButton {
    height: 100%;
    background-color: var(--blue-color);
    width: 100%;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .toirog {
    position: relative;
    right: 75%;
    bottom: 4%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0 #dbd9d9;
  }
  .white {
    width: 6.8rem;
    height: 6.8rem;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
  }
  .circle {
    width: 6rem !important;
    height: 6rem;
    background-color: var(--blue-color);
    border-radius: 50%;
  }
  .sagslah {
      margin-right: 10%;
  }

 .seeTotalInfo {
    width: 100%;
    height: auto;
  }
 .seeTotalInfo > * {
    width: 100%;
    height: auto;
    background-color: #f9fafe;
}
.order2tablenames > * {
  background-color: #f9fafe;
  height: 0;
}
.order1Content {
    margin-right: 5%;
}


      /* Header */
      .logo img {
        height: 8rem;
        padding-top: 1rem;
      }
      .ProductAndOrder {
        width: 60%;
        height: 50%;
        border: 1px solid var(--blue-color);
        border-radius: 10px;
        margin: auto 0;
      }
      .ProductAndOrder p {
        margin-bottom: 0;
      }
      .busket, .order {
        display: flex;
        align-items: center;
        color: var(--blue-color);
        height: auto;
      }
      .busket img, .order img {
        width: 25%;
        height: 100%;
        padding: 0.3rem;
        margin-right: 0.6rem;
      }
      
      p.busket, .order p {
        font-size: 2rem;
        font-weight: 600;
        height: auto;
      }
      p.yourBusket {
        font-size: 1.4rem;
        color: #8a8888;
        font-weight: 400;
      }
    
      .footer1flower {
        width: 100%;
      }
            /* Content  */
      .sc {
        margin: 1rem 0;
      }
    
      .choosing {
        margin-right: 3rem;
        height: 70vh;
      }
    
      .productInfo {
        width: 85%;
        margin-top: 1rem;
      }
      .addOrdertitle {
        width: 85%;
      }
     
      .tableImg {
        width: 66%;
      }
      .tablenames {
        height: 0 !important;
      }
    
    
      .select {
        border-top: 1px solid #d6d1d1;
        border-bottom: 1px solid #d6d1d1;
        border-right: 1px solid #d6d1d1;
        font-size: 1.2rem;
        padding-top: 0.4rem;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url('../images/svg/home/Arrow-down.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 6px) center;
      }
      .locate form .select {
        height: auto;
      }
      select:focus-visible {
        background-repeat: no-repeat;
        background-position: calc(100% - 3px) center;
        border: 2px solid var(--blue-color);
      }
      
      .selectTotal {
        width: 10rem;
        border-top: 1px solid #d6d1d1;
        border-bottom: 1px solid #d6d1d1;
        font-size: 1.7rem;
        padding-top: 0.1rem;
        font-weight: 500;
        text-align: center;
        height: auto;
      }
    
      .bona {
        width: 65%;
        border-radius: 50%;
        border: 1px solid #807e7e;
      }
      .bona img {
        width: 38%;
        z-index: 1;
      }
     
      .bona::before {
        content: url('../images/svg/home/tsetseg tom.svg');
        position: absolute;
        /* left: 85%; */
        /* bottom: 85%; */
      }
      .chooseList li img {
        margin: 1rem 0;
      }
      .choose {
        width: 20%; 
        margin-right: 3rem;
      }
 
      /* Zahialgiin medeelel */
      .slideContent {
        height: 70vh;
      }
      .locate a {
        color: white !important;
      }

      .addOrder {
        width: 100% !important;
      }
          /* Minii sags */
  
      .zahialga {
        width: 85%;
        margin: 1rem 0;
      }
      .zahialsanHeseg {
        width: 50%;
        border: 1px solid var(--blue-color);
        border-radius: 0.5rem;
      }
    
      .order1Img {
        border-right: 1px solid var(--blue-color);
        width: 30%;
        border-radius: 0.5rem;
      }
      .order1Img img {
        width: 40%;
      }
      .order1Button {
        width: 45%;
      }
      .order1Button p {
        margin-top: 1rem;
      }
      .order1Price {
        width: 100%;
        height: auto;
      }
     
      .orderName img {
        width: 6%;
      }
      .orderName p {
        color: #807e7e;
        line-height: 5px;
      }
      .order1Info {
        margin-left: 1rem;
        width: 100%;
      }
      .order1selectTotal {
        border: 1px solid var(--blue-color);
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      .order1selectTotal1 {
        border-top: 1px solid var(--blue-color);
        border-bottom: 1px solid var(--blue-color);
      }
 
      .seeTotalInfo {
        text-align: center;
      }
   
      .order2TotalInfo .order1selectTotal {
        border: 1px solid var(--blue-color);
        height: auto;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      .order2TotalInfo .order1selectTotal1 {
        border: 1px solid var(--blue-color);
        height: auto;
      }
      .order2TotalInfo .order1selectTotal2 {
        border: 1px solid var(--blue-color);
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        height: auto;
      }
     
    /* Захиалгын мэдээлэл */
    
    .payP {
      width: 20rem;
    }
    .userImg {
      width: 28%;
    }
    /* Хэрэглэгчийн мэдээлэл */
    .group{
      position:relative;
    }
    .group>label{
      padding:0 0.2em;
      position:absolute;
      top:-0.6em;
      left:1em;
      background-color:white;
      color: #807e7e;
    }
    
    .group>input{
      padding:0.5em;
      border-radius: 0.5em;
      border: 2px solid #e7e7e7;
      outline:none;
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    /* Байршлын мэдээлэл */
    .groupL{
      position:relative;
    }
    .groupL>label{
      padding:0 0.2em;
      position:absolute;
      top:-0.6em;
      left:1em;
      background-color:white;
      color: #807e7e;
    }
    
    .groupL>input{
      padding:0.5em;
      border-radius: 0.5em;
      border: 2px solid #e7e7e7;
      outline:none;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    .groupLa{
      position:relative;
    }
    .groupLa>label{
      padding:0 0.2em;
      position:absolute;
      top:-0.6em;
      left:1em;
      background-color:white;
      color: #807e7e;
    }
    .district, .house, .door {
        width: 100%;
    }
    .groupLa>input{
      padding:0.5em;
      border-radius: 0.5em;
      border: 2px solid #e7e7e7;
      outline:none;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    
    .back, .choosePayment {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5em;
      height: auto;
      font-size: 1.1rem;
    }
    .back {
      background-color: #e01f20;
      margin-right: 0.5em;
    }
    
    .choosePayment {
      background-color: var(--blue-color);
    }
    .removeOrder {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;
        padding: 0.7rem;
        height: auto;
        font-size: 1.1rem;
        background-color: var(--blue-color);
    }
    .groupS{
      position:relative;
    }
    .groupS>label{
      padding:0 0.2em;
      position:absolute;
      top:-0.6em;
      left:1em;
      background-color:white;
      color: #807e7e;
    }
    
    .groupS>select{
      padding:0.5em;
      border-radius: 0.5em;
      border: 2px solid #e7e7e7;
      outline:none;
    }
    .locate {
      height: 20rem;
    }
    /* Төлбөр төлөх */
    .warning p {
      line-height: 18px;
      color: #807e7e;
      margin-bottom: 1rem;
    }
    .dansMedeelel p{
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 28px;
      color: #807e7e;
    }
    .paymentInstruction {
      border-right: 2px solid #a1a0a0;
    }
    .groupPay{
      position:relative;
    }
    .groupPay>label{
      padding:0 0.2em;
      position:absolute;
      top:-0.6em;
      left:1em;
      background-color:white;
      color: #807e7e;
    }
    
    .groupPay>select{
      padding:0.5em;
      border-radius: 0.5em;
      border: 2px solid #e7e7e7;
      outline:none;
      height: auto;
    }

    .instructionPayment {
        margin: 2rem 0 !important;
    }
    .qrCode {
        width: 15%;
    }
    .sort {
      color: #8a8888;
    }
    .sort select {
      font-size: 1rem;
      padding: 0 1.5rem;
      border-radius: 0.5rem;
    }
    .orderHistory {
      width: 100%;
      border: 1px solid var(--blue-color);
      border-radius: 0.5rem;
      background-color: #f9fafe;
    }
    .orderHistoryImg img {
      width: 30%;
    }
    .orderHistoryImg {
      width: 20%;
      border-right: 1px solid #3dbee3;
      border-radius: 0.5rem;
    }
    .order1 {
      background-color: #f9fafe;
    }
    .ProductC {
      margin-left: 2rem;
    }
 
    @media (max-width: 1023px) {
      .ProductAndOrder {
        width: auto;
        height: auto;
      }
      p.yourBusket {
        font-size: 1.2rem;
      }
      p.busket {
        font-size: 1.5rem;
      }
      .orderName p {
        line-height: 12px;
      }
    }

    @media (min-width: 1024px) and (max-width: 1440px) {
      .ProductAndOrder {
        width: 70%;
      }
     .busket img {
       padding: 0;
     }
      p.busket {
        font-size: 1.2rem;
      }
      p.yourBusket {
        font-size: 1rem;
        font-weight: 400;
      }
     p.total {
       font-size: 1.1rem;
     }
     .logo img {
       height: 6rem;
     }
     .bona {
       width: 70%;
     }
      .bona::before {
        left: 35%;
        bottom: 45%;
      }
     
      .white {
        width: 4.5rem;
        height: 4.5rem;
      }
      .circle {
        width: 4rem !important;
        height: 4rem;
      }
      .order1selectTotal1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .order1selectTotal2 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .orderName p {
        line-height: 12px;
      }
      .order1Img img {
        width: 70%;
      }
      .order1tablenames {
        width: 22rem !important;
        margin-left: 0.5rem;
      }
      .order2tablenames > * {
        width: 50%;
        margin-left: 0.5rem;
      }
      .order1Price h3 {
        font-size: 1.3rem;
      }
      .carousel-item img {
        height: 25rem;
      }
      
      .dansMedeelel p {
        font-size: 0.8rem;
        line-height: 1rem;
      }
      .ProductC {
        height: 9rem;
      }
      .link .nav-link {
        margin-left: 0;
    }
    .water {
      width: 80%;
    }
    }

    @media (min-width: 1441px) and (max-width: 2048px) {
      .ProductAndOrder {
        width: 60%;
      } 
      p.busket {
        font-size: 1.6rem;
      }
      p.yourBusket {
        font-size: 1.1rem;
        font-weight: 400;
        color: #666363;
      }
      p.total {
        font-size: 1.2rem;
        
      }
      .bona::before {
        left: 50%;
        bottom: 50%;
      }
      .orderInfo {
        height: 50vh;
      }
      .order1tablenames {
        width: 24rem !important;
        margin-left: 0.5rem;
      }
      .order2tablenames > * {
        width: 50%;
        margin-left: 0.5rem;
      }
      
    }

    @media (min-width: 2049px) {
      .logo img {
        height: 10rem;
      }
      .ProductAndOrder {
        width: 60%;
      } 
      p.busket {
        font-size: 2rem;
      }
      p.yourBusket {
        font-size: 1.4rem;
        font-weight: 400;
        color: #666363;
      }
      p.total {
        font-size: 1.6rem;
      }
      .bona::before {
        left: 50%;
        bottom: 50%;
      }
      .productInfo img {
        margin: 3rem 0;
      }
      .link {
        font-size: 1.4rem;
      }
      .ProductC h4 {
        font-size: 1.6rem;
      }
      .ProductC ul li {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
      }
      .water img {
        width: 80%; 
      }
      .order1tablenames {
        width: 24rem !important;
        margin-left: 0.5rem;
      }
      .order2tablenames > * {
        width: 50%;
        margin-left: 0.5rem;
      }
      .sc {
        width: 2rem;
        margin: 2rem 0;
      }
     
      .chooseList li img {
        width: 1rem !important;
        margin: 1rem 0;
      }
    }

    @media (min-width: 3200px) {
      .logo img {
        height: 20rem;
      }
      .ProductAndOrder {
        width: 60%;
      } 
      p.busket {
        font-size: 4rem;
      }
      p.yourBusket {
        font-size: 3rem;
        font-weight: 400;
        color: #666363;
      }
      p.total {
        font-size: 4rem;
        line-height: 5rem;
      }
      .select {
        font-size: 2.5rem;
        padding: 2rem !important;
      }
      .bona::before {
        left: 60%;
        bottom: 70%;
      }
      .productInfo img {
        margin: 3rem 0;
      }
      .link {
        font-size: 3.2rem;
      }
      .ProductC h4 {
        font-size: 3.5rem;
        margin: 2rem 0;
      }
      .ProductC ul li {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3rem;
      }
      .water img {
        width: 80%; 
      }
      .white {
        width: 13rem;
        height: 13rem;
      }
      .circle {
        width: 12rem !important;
        height: 12rem;
      }
      .footerwater{
        width: 15%;
      }
      .footer1flower {
        width: 100%;
      }
      .chooseList li img {
        width: 2rem;
        margin: 2rem 0;
      }
      .order1Button {
        width: 50%;
      }
      .carousel-item img {
        height: 60rem;
      }
      .orderInfo {
        height: 50vh;
      }
      .order1tablenames {
        width: 24rem !important;
        margin-left: 0.5rem;
      }
      .order2tablenames > * {
        width: 50%;
        margin-left: 0.5rem;
      }
      .sc {
        width: 3.2rem;
        margin: 3rem 0;
      }
      #userform > * {
        width: 33%;
      }
      .back, .choosePayment {
        font-size: 3rem;
        height: 8rem;
      }
      .locate {
        height: 45vh;
      }
      .groupL>input {
        padding: 1rem;
        font-size: 4rem;
      }
      .groupLa>input {
        padding: 1rem;
        font-size: 4rem;
      }
      .group>input {
        padding: 1rem;
        font-size: 4rem;
      }
      .locationInfo {
        width: 100%;
      }
      .groupPay>input {
        padding: 1rem;
        font-size: 4rem;
      }
      .warning p {
        line-height: 40px;
      }
      .dansMedeelel p {
        font-size: 3rem;
        line-height: 3rem;
      }
      .ProductC {
        height: 25rem;
        margin-left: 4rem;
      }
      .active {
        margin-left: 0;
      }
      .nav-link {
        font-weight: 400;
        font-size: 2.8rem;
      }

    }


    .main ul ul {
      display: none;
    }
    
    .main li.li-active ul {
      display: block;
    }
    
    .main ul ul li {
      display: block;
    }

    .type {
      position: absolute;
      display: flex;
      left: 30%;
      bottom: 10%;
      width: 10% !important;
    }

